<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/vista.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>vista</title>
</head>
<body>
    <header>
        <div class="menu">
            <h1 class="page-title">Mi Pagina Web</h1>
            <nav class="navigation-menu">
                <ul>
                    <li><a href="/create" class="menu-item">crear</a></li>
                    <li><a href="#" class="menu-item">inicio</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="table-conteiner">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Articulo</th>
                <th>Descripción</th>
                <th>Aciones</th>
            </tr>
        </thead>
        <tbody>
            <% nombres.forEach((nombre, index) => { %>
                <tr>
                    <td><%= id[index] %></td>
                    <td><%= nombre %></td>
                    <td><%= descripciones[index] %></td>
                    <td>
                        <a href='/delete/<%= id[index]%>' class="a-borrar"><i class="fa-solid fa-trash i-borrar"></i></a>
                        <a href='/update/<%= id[index]%>'><i class="fa-solid fa-pencil i-actualizar"></i></a>
                    </td>
                </tr>
            <% }) %>

        </tbody>
    </table>
    </div>
</body>
</html>